<div class="container">
    <a routerLink="/livros/novo" class="btn btn-primary">Cadastrar Livro</a>
  </div>
  <div class="container">
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Titulo</th>
          <th scope="col">Editora</th>
          <th scope="col">Edição</th>
          <th scope="col">Ano Publicação</th>
          <th scope="col">Operações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
          <td>{{livro.titulo}}</td>
          <td>{{livro.editora}}</td>
          <td>{{livro.edicao}}</td>
          <td>{{livro.anoPublicacao}}</td>
          <td><a class="btn btn-primary" [routerLink]="['/livros/edit',livro.codigo]">Editar</a> | <a class="btn btn-danger"
              (click)="confirmarExcluir(livro.codigo)">Deletar</a></td>
        </tr>
      </tbody>
    </table>
  </div>