<div class="container">
    <a routerLink="/livros/novo" class="btn btn-primary float-end">Novo</a>
  </div>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Titulo</th>
          <th scope="col">Editora</th>
          <th scope="col">Edição</th>
          <th scope="col">Ano Publicação</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
          <td>{{livro.titulo}}</td>
          <td>{{livro.editora}}</td>
          <td>{{livro.edicao}}</td>
          <td>{{livro.anoPublicacao}}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  &#x22EE;
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" [routerLink]="['/livros/edit',livro.codigo]">Editar</a></li>
                  <li><a class="dropdown-item" (click)="confirmarExcluir(livro.codigo)">Deletar</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>