<div class="container">
    <a routerLink="/autores/novo" class="btn btn-primary float-end">Novo</a>
</div>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let autor of autores">
        <td>{{autor.nome}}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                &#x22EE;
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" [routerLink]="['/autores/edit', autor.id]">Editar</a></li>
                <li><a class="dropdown-item" (click)="confirmarExcluir(autor.id)">Deletar</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>