<form (ngSubmit)="finalizar()" #form="ngForm">
    <div class="row mb-3">
        <div class="col-md-6">
          <label for="titulo" class="form-label">Título <span class="text-danger">*</span></label>
          <input required type="text" id="titulo" name="titulo" #name="ngModel" class="form-control" style="max-width: 100%;" [(ngModel)]="livro.titulo">
        </div>
        <div class="col-md-6">
          <label for="editora" class="form-label">Editora <span class="text-danger">*</span></label>
          <input required type="text" id="editora" [(ngModel)]="livro.editora" name="editora" #name="ngModel" class="form-control" style="max-width: 100%;">
        </div>
      </div>
      
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="edicao" class="form-label">Edição <span class="text-danger">*</span></label>
          <input required type="number" id="edicao" [(ngModel)]="livro.edicao" name="edicao" #name="ngModel" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="anoPublicacao" class="form-label">Ano Publicação <span class="text-danger">*</span></label>
          <input required maxlength="4" type="text" id="anoPublicacao" [(ngModel)]="livro.anoPublicacao" name="anoPublicacao" #name="ngModel" class="form-control"  (input)="validaAno($event)">
        </div>
      </div>

    <div class="row g-3 container-verde">
        <h5>Preços R$</h5>
        <div class="col-md-4">
            <label for="valorBalcao" class="form-label">Balcão</label>
            <input type="number" class="form-control" id="valorBalcao" [(ngModel)]="livro.precos[0].preco" 
            name="valorBalcao" #name="ngModel">
        </div>
        <div class="col-md-4">
            <label for="valorSelfService" class="form-label">Self-Service</label>
            <input type="number" class="form-control" id="valorSelfService" [(ngModel)]="livro.precos[1].preco" 
             name="valorSelfService" #name="ngModel">
        </div>
        <div class="col-md-4">
            <label for="valorInternet" class="form-label">Internet</label>
            <input type="number" class="form-control" id="valorInternet" [(ngModel)]="livro.precos[2].preco" 
             name="valorInternet" #name="ngModel">
        </div>
    </div>

    <div>
        <h3>Autores</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="col-select">#</th>
                    <th scope="col">Nome</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let autor of autores">
                    <th scope="row"><input type="checkbox" [(ngModel)]="autor.checked" [name]="'autorChecked'+autor.id"
                            #name="ngModel">
                    </th>
                    <td>{{autor.nome}}</td>
                </tr>
            </tbody>
        </table>

        <h3>Assuntos</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="col-select">#</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assunto of assuntos">
                    <th scope="row"><input type="checkbox" [(ngModel)]="assunto.checked"
                            [name]="'assuntoChecked'+assunto.id" #name="ngModel"></th>
                    <td>{{assunto.descricao}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary  me-2">Salvar</button>
        <button routerLink="/livros" class="btn btn-danger">Cancelar</button>
    </div>
</form>