<div class="container mb-5 no-print">
  <button (click)="imprimir()" class="btn btn-primary float-end">Imprimir</button>
</div>

<div class="container" *ngFor="let autor of autores">
  <h2 class="text-center">{{ autor.autor }}</h2>
  <div *ngIf="autor.livros == null || autor.livros.length == 0">Não há livros</div>
  <div class="table-responsive">
    <table class="table table-striped" *ngIf="autor.livros != null && autor.livros.length > 0">
      <thead>
          <tr>
            <th scope="col" class="col-3">Título</th>
            <th scope="col" class="col-3">Editora</th>
            <th scope="col" class="col-1">Edição</th>
            <th scope="col" class="col-2">Ano Publicação</th>
            <th scope="col" class="col-4">Assuntos</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let livro of autor.livros">
              <td>{{ livro.titulo }}</td>
              <td>{{ livro.editora }}</td>
              <td>{{ livro.edicao }}</td>
              <td>{{ livro.anoPublicacao }}</td>
              <td>{{ livro.assuntos }}</td>
          </tr>
      </tbody>
  </table>
  </div>
</div>
