<div class="d-flex justify-content-center p-3 bg-light">
    <ul class="nav nav-pills flex-row mb-auto">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/livros" routerLinkActive="active" ariaCurrentWhenActive="page">
                Livros
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/autores" routerLinkActive="active" ariaCurrentWhenActive="page">
                Autores
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/assuntos" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">
                Assuntos
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/relatorio" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">
                Relatório
            </a>
        </li>
    </ul>
</div>
