<form (ngSubmit)="finalizar()" #form="ngForm">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome<span class="text-danger">*</span></label>
        <input required type="text" class="form-control" id="nome" style="max-width: 30%;" [(ngModel)]="autor.nome" 
        name="nome"
        #name="ngModel">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary  me-2">Salvar</button>
        <button routerLink="/autores" class="btn btn-danger">Cancelar</button>
    </div>
</form>